/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root{
  background-color: #0f172a;
  color: rgb(223, 223, 223);
  font-family: "Poppins", sans-serif;
}

header{
  border: 2px solid white;
}

.heading{
  text-align: center;
  padding: 8px 0;
}

.container{
  max-width: 80%;
  margin: auto;
  border: 2px solid red;
}

.input-container{
  width: 80%;
  margin: 5% auto;
}

.input-container input{
  width: 100%;
  font-size: 1.1rem;
  padding: 2px 6px;
  color: white;
  background-color: #1e293b;
  outline: none;
} */